.header {
    /*
    grid-area: h;
    */
  /*  background-color: rgb(38, 41, 49);*/
    background-color: #EEF0F3;
    width: 1280px;
    height: 50px;
}

.headerContainer{
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.headerContainer img {
      width: 20px;
}

.login {
    color: black;
}

.login a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}