.header {
    grid-area: h;
    background-color: rgb(38, 41, 49);
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.headerContainer img {
      width: 20px;
}

.login a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}