.nav{
    grid-area: n;
    /*
    background-color: #313131;
    */
    background-color: #DCDEE1;
    padding: 20px;
}

.item a:hover{
    color: red;
}

.item a{
    color:black;
    text-decoration: none;
}

.item a.active{
    color: #313131;
}

.sideBar {
    padding-top: 100px;
}