.errorContainer {
    position: absolute;
    top: 20%;
    left: 65%;
    width: 400px;
    height: 30px;
    background-color: #b80505;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animaciya 8s infinite;
}

.errorContainer:hover {
    opacity: 0;
}

@keyframes animaciya {
    80%, 100% {
        opacity: 0;
    }
    0%{
        display: none;
    }
}